<% if @comment.errors.any? %>
  <%= turbo_stream.replace "commit_#{@metadata.id}_new_comment" do %>
    <%= render partial: "commit_comments/form", 
               locals: { metadata: @metadata, comment: @comment } %>
  <% end %>
<% else %>
  <%= turbo_stream.replace "commit_#{@metadata.id}_new_comment" do %>
    <%= link_to "Add Comment", 
        new_commit_metadatum_commit_comment_path(@metadata),
        class: "usa-button",
        data: { turbo_stream: true } %>
  <% end %>

  <% if @metadata.comments.count == 1 %>
    <%= turbo_stream.replace "commit_#{@metadata.id}_comments_container" do %>
      <table class="usa-table width-full margin-top-2" id="commit_#{@metadata.id}_comments_table">
        <colgroup>
          <col style="width: 60%">
          <col style="width: 20%">
          <col style="width: 20%">
        </colgroup>
        <thead>
          <tr>
            <th scope="col">Comment</th>
            <th scope="col">Author</th>
            <th scope="col">Posted</th>
          </tr>
        </thead>
        <tbody>
          <%= render partial: "commit_comments/comment", locals: { comment: @comment } %>
        </tbody>
      </table>
    <% end %>
  <% else %>
    <%= turbo_stream.append "commit_#{@metadata.id}_comments_table tbody" do %>
      <%= render partial: "commit_comments/comment", locals: { comment: @comment } %>
    <% end %>
  <% end %>
<% end %>
